class_2_Igniting/node_modules
class_2_Igniting/.parcel-cache
class_2_Igniting/dist

Class_3_foundation/node_modules
Class_3_foundation/.parcel-cache
Class_3_foundation/dist
Class_3_foundation/.babelrc


Assignments\class_3_Assignment/node_modules
Assignments\class_3_Assignment/.parcel-cache
Assignments\class_3_Assignment/dist
Assignments\class_3_Assignment/.babelrc



